<div class="w-50 mx-auto bg-white p-5 pt-3 shadow">
  <h2 class="text-2xl text-center mb-5">Create new Food</h2>
  <%= form_with(model: @food, url: foods_path) do |form| %>
    <div class="container">
      <div class="form-group">
        <%= form.label :name, 'Name: ' %>
        <%= form.text_field :name, placeholder: "Food name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :measurement_unit, 'Measurement unit: ' %>
        <%= form.select :measurement_unit, [["grams"], ["kilos"], ["liters"], ["milliliters"]], {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :price, 'Price: ' %>
        <%= form.text_field :price, placeholder: "Price", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :quantity, 'Quantity: ' %>
        <%= form.text_field :quantity, placeholder: "Quantity", class: "form-control" %>
      </div>
      <%= form.submit "Add New Food", class: "btn btn-success mt-3" %>
    </div>
  <% end %>
</div>