<div class="w-50 mx-auto bg-white p-5 pt-3 shadow">
  <h1 class="text-center text-primary">Add Food to Recipe</h1>

  <%= form_for @recipe_food, url: recipe_recipe_foods_path(@recipe_food.recipe), method: :post, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :food_id, 'Select Food' %>
      <%= f.collection_select :food_id, current_user.foods.where.not(id: @recipe_food.recipe.foods.pluck(:id)), :id, :name, {}, class: 'form-control' %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>

    <div class="form-group">
      <%= f.label :quantity, 'Quantity' %>
      <%= f.number_field :quantity, class: 'form-control' %>
    </div>

    <%= f.hidden_field :recipe_id, value: @recipe.id %>

    <div class="form-group">
      <%= f.submit 'Add Food', class: 'btn btn-primary mt-2' %>
    </div>
  <% end %>

  <%= link_to 'Back to Recipe', recipe_path(@recipe_food.recipe), class: 'btn btn-secondary mt-2' %>
</div>
